@model PeaceApp.Data.Entity.Students.StudentDTO

@{
    ViewBag.Title = "Add Student";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="/Student/Add" method="post">
    <fieldset class="scheduler-border">
        <legend>Personal information:</legend>
        First name:
        <br>
        <input class="control-label input-label" type="text" name=@Model.Name value=""><br>
        Last name:
        <br>
        <input class="control-label input-label" type="text" name=@Model.LastName value=""><br>
        <br>
        Age:
        <br>
        <input class="control-label input-label" type="text" name=@Model.Age value=""><br>
        <input type="submit" value="Create">
    </fieldset>
</form>
