@model PeaceApp.Data.Entity.Students.StudentDTO

@{
    ViewBag.Title = "Add Student";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="/Student/AdSudent" method="post">
    <fieldset>
        <legend>Personal information:</legend>
        First name:
        <br>
        <input type="text" name=@Model.Name value="Mickey"><br>
        Last name:
        <br>
        <input type="text" name=@Model.LastName value="Mouse"><br>
        <br>
        Age:
        <br>
        <input type="text" name=@Model.Age value="Mouse"><br>
        <input type="submit" value="Add">
    </fieldset>
</form>
